# Example: Compute Cost Matrix

In [1]:
import os
import sys
import random

import numpy as np
import pandas as pd

from osrmcpy import OSRM, Coordinate

In [2]:
# Matrix size (square matrix). Be aware of your hardware resources ;-)
N_LOCATIONS = 1000
MATRIX_SIZE = N_LOCATIONS**2
print(f'Matrix size is {MATRIX_SIZE:,}')

Matrix size is 1,000,000

In [3]:
DATA_DIR = '/usr/local/app/data'
OSRM_DATASET = os.path.join(DATA_DIR, 'test_ireland', 'ireland-and-northern-ireland-latest.osrm')

In [4]:
osrm = OSRM(OSRM_DATASET.encode('utf-8'), contraction=True)

In [5]:
bottom_left = Coordinate(id=None, longitude=-6.57013, latitude=53.23382)
top_right = Coordinate(id=None, longitude=-6.23988, latitude=53.39977)

In [6]:
random.seed(19)

In [7]:
random_coordinate = lambda n: Coordinate(id=n, longitude=random.uniform(bottom_left.longitude, top_right.longitude),
                                         latitude=random.uniform(bottom_left.latitude, top_right.latitude))

In [8]:
%time coordinates = [random_coordinate(i) for i in range(N_LOCATIONS)]

CPU times: user 3.79 ms, sys: 0 ns, total: 3.79 ms
Wall time: 3.8 ms

In [9]:
%time table = osrm.table(coordinates)

CPU times: user 9.04 s, sys: 137 ms, total: 9.17 s
Wall time: 9.17 s

In [10]:
%time df_table = pd.DataFrame(np.array(table).reshape(-1, 4), columns=['from', 'to', 'duration', 'distance'])

CPU times: user 537 ms, sys: 0 ns, total: 537 ms
Wall time: 535 ms

In [11]:
df_table.shape

(1000000, 4)

In [12]:
df_table.head()

   from   to     duration      distance
0   0.0  0.0     0.000000      0.000000
1   0.0  1.0   958.900024  14495.599609
2   0.0  2.0   796.000000  10953.500000
3   0.0  3.0  1323.699951  22441.400391
4   0.0  4.0  1239.599976  21437.000000

In [13]:
# compute costs only for specified indexes as sources
%time table2 = osrm.table(coordinates, sources=[1, 2, 3])

CPU times: user 1.23 s, sys: 20.2 ms, total: 1.26 s
Wall time: 1.25 s

In [14]:
%time df_table2 = pd.DataFrame(np.array(table2).reshape(-1, 4), columns=['from', 'to', 'duration', 'distance'])

CPU times: user 4.04 ms, sys: 0 ns, total: 4.04 ms
Wall time: 3.84 ms

In [15]:
df_table2.shape

(3000, 4)

In [16]:
df_table2.head()

   from   to     duration      distance
0   1.0  0.0   973.099976  14489.799805
1   1.0  1.0     0.000000      0.000000
2   1.0  2.0  1080.000000  17230.400391
3   1.0  3.0   669.900024  10077.299805
4   1.0  4.0   585.799988   9072.900391